# Flask Configurations
SECRET_KEY=9ef814529db26ff581335b71946e3820a4b6c3cd4ee303d3
FLASK_DEBUG=True

# MySQL Database Configuration
# Format: mysql+pymysql://<username>:<password>@<host>:<port>/<database_name>
DATABASE_URL=mysql+pymysql://root:password@localhost:32768/todo_db
